tramp
.mc-lists.el
straight
transient
jdtls-cache
tree-sitter
auto-save-list
.last-package-update-day
custom.el
config.el
projects
history
.cache
.elpa
.url
elpa
forge-database.sqlite
devdocs
lsp-bridge
desktop.el
dmenu-items
org-roam.db
early-init.el
eshell